.sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  width: 90%; 
  min-height: 400px; 
  height: auto;     
  padding: 20px;    
  background-color: #121212;
  color: white;
  text-align: center;
  border-radius: 30px;
  margin: 10px auto;
}

.subtitle {
  font-size: 1.1rem;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.card {
  margin: 15px;     
  background: #3b3a3a;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid gainsboro;
}

.actions {
  display: flex;
  gap: 10px;        
  flex-wrap: wrap;  
  justify-content: center;
}

@media (max-width: 480px) {
  .sign {
    border-radius: 20px; 
    padding: 15px;
  }
  
  .back-link, .profile-link {
    width: 100%;      
    text-align: center;
  }
}

.back-link, .profile-link {
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 8px;
  transition: 0.3s;
}

.back-link {
  border: 1px solid #444;
  color: white;
}

.profile-link {
  background-color: #e67e22; 
  color: white;
}

.profile-link:hover {
  background-color: #d35400;
}