.sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
  color: white;
  text-align: center;
}

.subtitle {
  font-size: 1.2rem;
  color: #b0b0b0;
  margin-bottom: 30px;
}

.actions {
  display: flex;
  gap: 15px; /* Tugmalar orasidagi masofa */
}

.back-link, .profile-link {
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 8px;
  transition: 0.3s;
}

.back-link {
  border: 1px solid #444;
  color: white;
}

.profile-link {
  background-color: #e67e22; /* Asosiy rang (Sizning "Yuborish" tugmasi rangi) */
  color: white;
}

.profile-link:hover {
  background-color: #d35400;
}