.sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  height: 600px;
  background-color: #121212;
  color: white;
  text-align: center;
  border-radius: 30px;
}

.subtitle {
  font-size: 1.2rem;
  color: #b0b0b0;
  margin-bottom: 30px;
}
.card{
    margin: 30px;
    background: #3b3a3a;
    padding: 25px;
    border-radius: 30px;
    border: 1px solid gainsboro;
}
.actions {
  display: flex;
  gap: 15px; 
}

.back-link, .profile-link {
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 8px;
  transition: 0.3s;
}

.back-link {
  border: 1px solid #444;
  color: white;
}

.profile-link {
  background-color: #e67e22; 
  color: white;
}

.profile-link:hover {
  background-color: #d35400;
}